{% extends 'base.html.twig' %}

{% block title %} Inscription réussie ! {% endblock %}

{% block body %}

<div class="jumbotron">
	<h1>Félicitation !</h1>
    <p>Vous venez de vous inscrire sur FoodRating ! <br />
    Vérifier vos mails pour confirmer votre inscription.</p>
</div>

{% endblock %}
