{% extends 'base.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}

<div>
    <p> Félicitation ! vous venez de vous inscrire sur Food Rating. Vérifier vos mail pour confirmer votre inscription </p>
</div>

{% endblock %}
