/fr.openfoodfacts.org.products_0.csv
/fr.openfoodfacts.org.products_1.csv
/fr.openfoodfacts.org.products_10.csv
/fr.openfoodfacts.org.products_11.csv
/fr.openfoodfacts.org.products_12.csv
/fr.openfoodfacts.org.products_13.csv
/fr.openfoodfacts.org.products_2.csv
/fr.openfoodfacts.org.products_3.csv
/fr.openfoodfacts.org.products_4.csv
/fr.openfoodfacts.org.products_5.csv
/fr.openfoodfacts.org.products_6.csv
/fr.openfoodfacts.org.products_7.csv
/fr.openfoodfacts.org.products_8.csv
/fr.openfoodfacts.org.products_9.csv
