<html>
    <head>
    	<title>Mail de confirmation - FoodRating</title>
    </head>
    <body>
    	<h1>Vérification de votre adresse mail</h1>
        <p> Bonjour, <br />
        Vous venez de créer un compte sur notre site (foodrating.fr). Cliquez <a href="{{ signedUrl }}">ici</a> pour confirmer votre inscription.</p>
        
        <p>Si ce n'est pas vous avez créé ce compte, vous pouvez ignorer ce mail. (Ceci est un envoi automatique, veuillez ne pas y répondre)</p>
    </body>
</html>