{% extends 'base.html.twig' %}

{% block body %}

    <h1>Salut {{ app.user.username }}</h1>
    <br />
	<a href="{{ path("logout_security") }}" class="btn btn-danger" type="button">Déconnexion</a>
	<a href="{{ path("desinscription") }}" class="btn btn-dark" type="button">Supprimer le compte <i class="fas fa-radiation-alt"></i></a>

{% endblock %}