{% extends "base.html.twig" %}

{% block title %} Liste des articles {% endblock %}

{% block body %}

<section class="produit">

	{% for p in produits %}
	
	    {# Pour garder la catégorie "principale" #}
		{% set cat = p.categories | split(",") %}
	
		<article>
			<p> {{ p.product_name | raw }} </p>
			<a href="{{ path("produit_v2", {"id" : p.id, "categorie": cat[0]}) }}" class="btn btn-primary">Afficher le produit</a>
		</article>
	
	{% endfor %}
	
	<div class="flex-sm-wrap mt-5">

		<!-- Utilisation du sélecteur de pages de KNP -->
	    {{ knp_pagination_render(produits) }}
	
	</div>

</section>

{% endblock %}