{% extends "base.html.twig" %}

{% block title %} Liste des articles {% endblock %}

{% block body %}

<section class="produit">

	{% for p in produits %}
	
		<article>
			<p> {{ p.nom }} </p>
			<a href="{{ path("produit", {"id" : p.id}) }}" class="btn btn-primary">Afficher le produit</a>
		</article>
	
	{% endfor %}
	
	<!-- Plutôt que d'utiliser le sélecteur de pages de KNP, on va utiliser celui de Bootstrap -->
	<!-- {{ knp_pagination_render(produits) }} -->

</section>

{{ include("food_rating/pagination.html.twig") }}

{% endblock %}