{% extends "base.html.twig" %}

{% block title %} Liste des catégories {% endblock %}

{% block body %}

<h1>Catégories</h1>

<table class="table table-sm table-striped table-hover mt-5 mx-auto" style="width: 60%;">
	<thead class="thead-light">
		<th class="w-50">Nom</th>
		<th class="w-50">Nombre de produit</th>
	</thead>
	<tbody>
		
		{% for c in categories %}
			<tr>
				<td><a href="{{ path("categorie", {"categorie": c.url}) }}">{{ c.name }}</a></td>
				<td>{{ c.products }}</td>
			</tr>
		{% endfor %}
		
	</tbody>
</table>

<div class="flex-sm-wrap mt-5">

	<!-- Utilisation du sélecteur de pages de KNP -->
	{{ knp_pagination_render(categories) }}
	
</div>

{% endblock %}