{% extends "base.html.twig" %}

{% block title %} Liste des articles {% endblock %}

{% block body %}

<section class="produit">

	{% for p in produits %}
	
		<article>
			<p> {{ p.nom }} </p>
			<a href="{{ path("produit", {"id" : p.id}) }}" class="btn btn-primary">Afficher le produit</a>
		</article>
	
	{% endfor %}
	
	<div class="flex-sm-wrap mt-5">

		<!-- Utilisation du sélecteur de pages de KNP -->
	    {{ knp_pagination_render(produits) }}
	
	</div>

</section>

{% endblock %}