{% extends 'base.html.twig' %}

{% block body %}

    <h1>Mentions légales</h1>
    <h2 class="text-primary">Limitation de responsabilité</h2>
    <ul>
        <li>L'utilisateur du site internet <i>www.foodrating.fr</i> reconnaît disposer des compétences et des moyens nécessaires pour accéder et utiliser ce site.</li>
        <li>Les informations fournies par <em>FoodRating</em> sont à titre indicatif et ne sauraient dispenser l'utilisateur d'une analyse complémentaire et personnalisée.</li>
        <li>En conséquence, l'utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive.</li>
    </ul>
    <h2 class="text-primary">Informatique et Libertés</h2>
    <ul>
        <li>Les traitements automatisés de données nominatives réalisés à partir du site web <i>www.foodrating.fr</i> ont été traités en conformité avec les exigences de <strong>la loi n°78-17 du 6 janvier 1978</strong> modifiée, relative à l'informatique, aux fichiers et aux libertés.</li>
        <li>L'utilisateur est informé qu'il dispose d'un droit d'accès, d'interrogation et de rectification qui lui permet, le cas échéant, de faire rectifier, compléter, mettre à jour, verrouiller ou effacer ces données personnelles le concernant dont la collecte, l'utilisation, la communication ou la conservation est interdite.</li>
        <li>L'utilisateur dispose également d'un droit d'opposition au traitement de ses données pour des motifs légitimes ainsi qu'un droit d'opposition à ce que ces données soient utilisées à des fins de prospection commerciale.</li>
        <li>Le site <em>FoodRating</em> propose des échanges entre les utilisateurs (Forum, ou message privés entre amis), il est strictement interdit d'abuser négativement de ces technologies.</li>
        <li>Il est également interdit d'abuser des commentaires.</li>
        <li>Tout utilisateur visitant ce site peut signaler un utilisateur sur une de ses interventions.</li>
        <li>Si l'utilisateur inscrit ne respecte pas les règles du site, il sera définitivement supprimé de la base de données ainsi que toutes ces informations, sauf les messages qu'il a posté sur le forum.</li>
    </ul>
    <h2 class="text-primary">Propriété intellectuelle</h2>
    <ul>
        <li>Toute représentation de ce site par qui que ce soit, sans l'autorisation des créateurs de <em>FoodRating</em> est interdite et constituerait une contrefaçon sanctionnée par <strong>le Code de la propriété intellectuelle.<br/></strong></li>
        <li>Idem pour les bases de données, sur le site web qui sont protégées par <strong>la directive du 11 mars 1996</strong> relative à la protection juridique des bases de données, et dont <em>FoodRating</em> est producteur.</li>
    </ul>
{% endblock %}