{% extends 'base.html.twig' %}

{% block title %}Liste des sujets{% endblock %}

{% block body %}

<h6 class="border-bottom border-gray pb-2 mt-3 mb-0">Recent updates</h6>

<table class="table table-sm table-striped table-hover mt-2">
    <thead class="thead-light">
        <tr>
        	<th class="w-75">Titre</th>
            <th>Utilisateur</th>
            <th>Date de création</th>
        </tr>
    </thead>
    
    <tbody>
    
		{% for d in discussions %}
        <tr>
        	<td class="font-weight-bold"> {{ d.titre }} </td>
        	<td> {{ d.id_utilisateur.username }} </td>
        	<td class="text-muted"> {{ d.creation | date("d/m/Y") }} </td>
        </tr>
        {% endfor %}
    
    </tbody>
</table>
{% endblock %}
